<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
  <sitecore role:require="Standalone or Processing" exmEnabled:require="!yes">
    <experienceAnalytics>
      <aggregation>
        <dimensions>
          <dimension id="{3D8FD7DA-52EE-44ED-8944-3171944D986A}" set:type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.NopDimension, Sitecore.ExperienceAnalytics.Aggregation"/>           
          <dimension id="{6E1865FB-C3B6-41F0-9857-31F4EE1E80B0}" set:type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.NopDimension, Sitecore.ExperienceAnalytics.Aggregation"/>           
          <dimension id="{B459A0CA-9F43-4AC1-8E6D-549E2A3DE674}" set:type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.NopDimension, Sitecore.ExperienceAnalytics.Aggregation"/>           
          <dimension id="{53F60E4D-A1A1-44CB-A912-9CD6D8DE6E67}" set:type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.NopDimension, Sitecore.ExperienceAnalytics.Aggregation"/>           
          <dimension id="{19C5B093-E73A-41CB-80FB-71CAB89A7AEB}" set:type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.NopDimension, Sitecore.ExperienceAnalytics.Aggregation"/>          
          <dimension id="{A720AC6E-A9A3-410C-BAD0-E3102A1D58CE}" set:type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.NopDimension, Sitecore.ExperienceAnalytics.Aggregation"/>          
          <dimension id="{99C447BD-9CCD-4B54-8AE9-5FB1550DE242}" set:type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.NopDimension, Sitecore.ExperienceAnalytics.Aggregation"/>           
          <dimension id="{008BD4FD-580A-41BE-848C-A6B49C54F44C}" set:type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.NopDimension, Sitecore.ExperienceAnalytics.Aggregation"/>            
          <dimension id="{D9F374E1-F2D7-416A-84E6-CAFCD6989935}" set:type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.NopDimension, Sitecore.ExperienceAnalytics.Aggregation"/>          
          <dimension id="{A80EC44A-4E52-4C3D-92F2-0C5DD80691DF}" set:type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.NopDimension, Sitecore.ExperienceAnalytics.Aggregation"/>         
        </dimensions>
      </aggregation>    
    </experienceAnalytics>
  </sitecore>
</configuration>